{{> header }}

{{#if alert}}
    <h4 class="alert alert-danger">
        Invalid Email ! 
    </h4>
{{/if}}
<div class="container col d-flex justify-content-center mt-3">
    <div class="card custom-card" style="width: 58rem;">
        <div class="card-body text-center">
            <h3 class="card-title mt-5">Enter Password</h3>
            <form action="/login/forget-email" method="post">
                <div class="mb-3 cd">
                    <input type="email" class="form-control mt-4 inp" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" name="email" />
                </div>
                <button type="submit" class="btn btn-dark mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>